<section class="page-width" style="padding: 2rem 0;">
  <h1>Collections</h1>

  <div class="grid" style="grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));">
    {%- for collection in collections -%}
      <article>
        <a href="{{ collection.url }}">
          {%- if collection.featured_image -%}
            {{
              collection.featured_image
              | image_url: width: 800
              | image_tag: widths: '240,360,480,720,800', loading: 'lazy'
            }}
          {%- endif -%}
          <h2>{{ collection.title }}</h2>
        </a>
      </article>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Main list collections",
  "settings": []
}
{% endschema %}
