<section class="page-width" style="padding: 2rem 0; text-align: center;">
  <h1>{{ shop.name }}</h1>
  <p>{{ shop.password_message }}</p>

  {%- form 'storefront_password' -%}
    <label for="Password">Password</label>
    <input id="Password" type="password" name="password">
    <button type="submit">Enter</button>
  {%- endform -%}
</section>

{% schema %}
{
  "name": "Main password",
  "settings": []
}
{% endschema %}
